<html>
  <head>
    <title> Random Comic </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h2> Comic Generator </h2>

        <!--<form action="/randomComic" method="POST">-->
        <button id="my-button"> Generate New Comic </button>
        <!--</form>-->
        <h2> Original Comic </h2>

        <img name="original-comic" id="original-comic" src="<%= comicImg %>">
        <br>
        <br>


      <h2> Random Comic </h2>

      <img id="random-comic" src="">


    </div>

    <script type="text/javascript">

        $(document).ready(function() {
        $('#my-button').click(function (e){
            console.log('clicked!' + new Date());
            });
        });

          /*
          $.ajax({
              type: 'post',
              url: "template/comic.php",
              data: {data : true},
              dataType:"HTML",
              success: function(data)
              {
                  $('#comic').html(data) // The server's response is now placed inside your target div
              },
              error: function()
              {
                  alert("Failed to get data.");
            }
          }); // Ajax close
          return false; // So the button click does not refresh the page
      }) // Function end
      */
    </script>

  </body>
</html>