<html>
  <head>
    <title> Random Comic </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h2> Comic Generator </h2>


        <button id="my-button"> Generate New Comic </button>
        <h2> Original Comic </h2>

        <img name="original-comic" id="original-comic" src="<%= comicImg %>">
        <br>
        <br>


      <h2> Random Comic </h2>

      <img id="random-comic" src="">


    </div>

<script>
    document.getElementById('my-button').addEventListener('click', function() {
        document.getElementById('random-comic').src = "<%= ranComicImg %>";
    });
</script>

  </body>
</html>