<html>
  <head>
    <title> Random Comic </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Comic Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Original Comic<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/random">Random Comic</a>
    </div>
  </div>
</nav>

    <div class="container">
      <h1 class="jumbotron text-center"> Comic Generator </h1>

      <h2> Random Comic </h2>
      <br>
      <button class="btn btn-primary btn-lg btn-block" id="my-button"> Generate New Comic </button>
      <br>
      <h3 id="comic-title">Barrel - Part 1</h3> <!--Title-->
      <h4 id="comic-year"><%= ranComicYear %></h4> <!--Year-->

      <img class="img-fluid rounded mx-auto d-block" id="random-comic" src="https://imgs.xkcd.com/comics/barrel_cropped_(1).jpg">

    <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Comic Generator</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/f1c966bcb4.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
        $('#my-button').click(function (e){

          $.ajax({
              type: 'POST',
              url: 'randomComic',
              data: {data : true},
              //dataType:"json",
              success: function(data)
              {
                console.log(data);
                $('#random-comic').prop('src', data.img); //random image sent to src attribute of image tag
                $('#comic-title').html(data.title); //random comic title sent to h3 tag
                $('#comic-year').html(data.year); //random comic year sent to h4 tag
              },
              error: function()
              {
                  alert("Failed to get data.");
            }
          }); // Ajax close
          return false; // So the button click does not refresh the page
      }); // Function end
    });

    </script>

  </body>
</html>