h2,h3,h4 {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(49, 46, 46);
    width: 180%;
    height: 10%;
    color: white;
    text-align: center;
}